<div class="container">
	<div class="row" ng-repeat="connect in theConnections">
		<div class="col-md-2"></div>
		
		<div class="col-md-8">
			<form ng-if="connect.clicked">
			<h3>{{connect.name}}</h3>
				<fieldset class="form-group">
				    <label for="exampleInputEmail1">Email address</label>
				    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
				    <small class="text-muted">We'll never share your email with anyone else.</small>
				  </fieldset>
				  <fieldset class="form-group">
				    <label for="exampleInputPassword1">Password</label>
				    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
				  </fieldset>
				  <button type="submit" class="btn btn-primary">Submit</button>
			</form>
			</br></br></br></br>
		</div>

		<div class="col-md-2"></div>
	</div>
</div>