navbar {
  display: block;
  background: #00bcd4;
  border-bottom: 1px solid black;
  box-shadow: 1px 1px 9px -3px black;

  .container {
    width: 91%;
    max-width: 1340px;
    padding-top: 20px;
  }

  a {
    color: #ffffff;
    font-size: 16px;
    font-weight: 900px;
  }

  .nav > li > a {
    cursor: pointer;
    transition: color 0.2s;
    font-style: bold;
    &.active {
      color: #FFFFFF;
    }
    &:hover {
      background: none;
      color: #212121;
    }
    &:focus {
      background: none;
    }
  }

  .login-button {
    float: right;
    border: 1px solid black;
    margin-top: 10px;
    background: none;
    outline: none !important;
  }

  .welcome {
    float: right;
    margin-top: 12px;
    span {
      color: black;
      font-size: 16px;
      margin-right: 5px;
    }
    a {
      color: #f30046;
      cursor: pointer;
    }
  }

}
