nav {
	&.navbar {
		background: #00bcd4;
		border: none;
		padding: 10px;
	}
	a {
		&.navbar-brand {
			/*font-size: 30px;
			font-weight: 600;
			padding-top: 20px;
*/		}
	}
}

button {
	&.navbar-right {
		margin-left: 15px;
	}
}

.form-group {
	label {
		&.control-label {
			color: #ffffff;
		}
	}
}