* {
  box-sizing: border-box;
}

.chart {
  height: 250px;
}

.btn-nav {
  background-color: rgb(169,169,169);
  border-color: #808080;
  color: #fff;
}

.btn-nav:hover {
  background-color: #808080;
  border-color: #4d4d4d;
  color: #fff;
}

.btn-nav.active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, .25);
}

.nav-buttons {
  margin-bottom: 50px;
}

.graph-body-section {
  margin-bottom: 100px;
}

.graph-title-section {
  margin-bottom: 40px;
}

h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.chart-green {
  color: rgb(126, 181, 63);
}

.chart-gray {
  color: rgb(169,169,169);
}

.chart-red {
  color: rgb(200, 96, 69);
}

.img{
	width: 100%;
	height: auto;
}

.centered{
    text-align:center;
}

body {
  background: #fdfdfd;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  padding-top: 60px;
  margin: 0 auto;
}

@import 'directives/main';
@import 'tutorial/main';
@import 'signup-login/main';
