* {
  box-sizing: border-box;
}

body {
	background-color: #212121;
	padding-top: 70px;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  padding-top: 60px;
  margin: 0 auto;
}

@import 'directives/navbar';
@import 'tutorial/main';
@import 'signup-login/main';