* {
  box-sizing: border-box;
}

.img{
	width: 100%;
	height: auto;
}

.centered{
    text-align:center;
}

body {
	background-color: #ffffff;
	/*padding-top: 120px;*/
  color: #212121;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  padding-top: 60px;
  margin: 0 auto;
}

@import 'directives/navbar';
@import 'tutorial/main';
@import 'signup-login/main';